@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#map {
  height: 600px;
  width: 50%;
  display: inline-block;
}

#vtable {
  display: inline-block;
  max-height: 600px;
  overflow: hidden;
  width: 50%;
  float: right;
}

ul {
  list-style: none;
}

li {
  float: left;
}

#vtable li {
  max-height: 108px;
  overflow: hidden;
}
span {
  display:inline-block;
  font-size: 10px;
  color:#9095a2;
}

#info_section {
  max-height: 138px;
  overflow: hidden;
  background-color:#3a3f4f;
  position: relative;
  padding: 0 20px;
}

#info_section:before {
   font-family: FontAwesome;
   content: "\f053";
   display: inline-block;
   position:absolute;
   top:45%;
}

#info_section:after {
   font-family: FontAwesome;
   content: "\f054";
   display: inline-block;
   position:absolute;
   right:20px;
   top:45%;
}

#info_section li {
  width: 100px;
}

#info_section img {
  max-height: 100px;
}
#athlete_info_id-3, #athlete_info_id-5, #athlete_info_id-6, #athlete_info_id-7, #athlete_info_id-8,
#athlete_info_id-13, #athlete_info_id-14, #athlete_info_id-15, #athlete_info_id-17 {
  display:none;
}
